{
	"state": "backup-daemon.state",
	"lock": "backup-daemon.lock",
	"jobs": [
		{
			"name": "job1",
			"sync_script": "./job1-sync.sh",
			"sync_log": "./job1-sync",
			"snapshot_script": "./job1-snapshot.sh",
			"snapshot_log": "./job1-snapshot"
		},
		{
			"name": "job2",
			"sync_script": "./job2-sync.sh",
			"sync_log": "./job2-sync",
			"snapshot_script": "./job2-snapshot.sh",
			"snapshot_log": "./job2-snapshot"
		}
	]
}
